
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

root{
    --primary:#047857;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: #047857;
    max-width: 600px;
    margin: auto;
    height: 100%;
}
* {
    box-sizing: border-box;
}

#nav {
    padding: 1rem;
}
#nav .active {
    font-weight: bolder;
    position: absolute;
    top: 8px;
    right: 220px;
}
#nav li {
    display: inline-block;
    padding: 0.5rem;
    color:var(--primary);
}
#nav ul {
    text-align: right;
}
.container{
    position: relative;
    text-align: center;

}
#name{
    text-decoration: none;
    font-weight: bolder;
    color: #0c7054;
    font-size: larger;
    position: absolute;
    top:8px;
    left:5%;
}
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: #34D399;
}
.my_image{
    border-radius:50%;
    position: absolute;
    bottom:5px;
    left: 570px;
    text-align: center;
}
.pic{
border-radius: 2rem;
max-width: 600px;
height: auto;
margin: auto;
display: block;
}
footer{
    padding: 1rem 1rem ;
    background-color:#34D399;
    border-radius: 50%;
}
.contacts li{
    display: inline-block;
    padding: 0.5rem;
}
.contacts ul {
    text-align: center;
    text-decoration: none;
}  
.home{
    position: absolute;
    top: 8px;
    right:220px;
}   
.blogs{
    position: absolute;
    top: 8px;
    right: 120px;
}
.projects{
    position: absolute;
    top: 8px;
    right:20px;
}
.contact-link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    color:#A7F3D0;
}
