@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body{
    box-sizing: border-box;
    width: 700px;
    margin: auto;
    height: 100%;
    font-family: 'Open Sans', sans-serif; 
}

#nav {
    padding: 1rem;
}
#nav .active {
    font-weight: bolder;
    position: absolute;
    top: 8px;
}
#nav li {
    display: inline-block;
    padding: 0.5rem;
}
#nav ul {
    text-align: right;
}
.container{
    position: relative;
  text-align: center;

}
#name{
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-size: 1rem;
    position: absolute;
    left:0;
    top:-30px;
}
.link{
    text-decoration:none;
    padding: 0.5rem 1rem;
    color: black;   
}
.newlink{
    text-decoration: none;
    font-size: 2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#34D399;
}
.info{
    padding: 1rem; font-size: 1rem;
    font-family:Georgia, 'Times New Roman', Times, serif;    
}

footer{
    position: relative;
    width:700px;
    padding: 3rem;
    bottom: 0;
}
.contacts li{
    display: inline-block;
    padding: 0.5rem;
}
.contacts ul {
    text-align: center;
    text-decoration: none;
}  
.home{
    position: absolute;
    top: 8px;
    right:220px;
}    
.blogs{
    position: absolute;
    top: 8px;
    right: 120px;
}
.projects{
    position: absolute;
    top: 8px;
    right:20px;
}
.contact-link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    color:#A7F3D0;
}
.fa {  
    padding:20px;  
  text-align: center;  
  margin: 5px 1px;  
    font-size: 30px;  
    width: 50px; 
    border-radius:100%; 
   
  }  
  .fa-linkedin {    
        background: #007bb5;  
        color: white;  
      
  } 
  .fa-linkedin:hover {
    background-color: #04354b;
}
  .fa-github {
    background: black;  
    color: white;  
}
.fa-github:hover {
    background-color: #5a32a3;
}
.fa-google {
    background: #dd4b39;  
  color: white;  
}
.fa-google:hover {
    background-color: #c00b48;
}